@font-face {
    font-family PFAgoraSlabPro-Medium
    font-display swap
    src url("/fonts/PFAgoraSlabPro-Medium.woff") format("woff")
}

@font-face {
    font-family PFAgoraSlabPro-Black
    font-display swap
    src url("/fonts/PFAgoraSlabPro-Black.woff") format("woff")
}

@font-face {
    font-family PFAgoraSlabPro-UltraBlack
    font-display swap
    src url("/fonts/PFAgoraSlabPro-UltraBlack.woff") format("woff")
}

@font-face {
    font-family SFProText-Heavy
    font-display swap
    src url("/fonts/SFProText-Heavy.woff") format("woff")
}

@font-face {
    font-family SFProText-Medium
    font-display swap
    src url("/fonts/SFProText-Medium.woff") format("woff")
}

@font-face {
    font-family SFProText-Regular
    font-display swap
    src url("/fonts/SFProText-Regular.woff") format("woff")
}

