@font-face
  font-family 'PFAgoraSlabPro-Black'
  font-display swap
  src local('PFAgoraSlabPro-Black'),
      url('/PFAgoraSlabPro-Black.woff2') format('woff2'),
      url('/PFAgoraSlabPro-Black.woff') format('woff'),
      url('/PFAgoraSlabPro-Black.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'PFAgoraSlabPro-UltraBlack'
  font-display swap
  src local('PFAgoraSlabPro-UltraBlack'),
      url('/PFAgoraSlabPro-UltraBlack.woff2') format('woff2'),
      url('/PFAgoraSlabPro-UltraBlack.woff') format('woff'),
      url('/PFAgoraSlabPro-UltraBlack.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'PFAgoraSlabPro-Medium'
  font-display swap
  src local('PFAgoraSlabPro-Medium'),
      url('/PFAgoraSlabPro-Medium.woff2') format('woff2'),
      url('/PFAgoraSlabPro-Medium.woff') format('woff'),
      url('/PFAgoraSlabPro-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal


@font-face
  font-family 'SF UI Display Black'
  src url('/SFUIDisplay-Black.eot')
  src local('SF UI Display Black'), local('SFUIDisplay-Black'),
          url('/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
          url('/SFUIDisplay-Black.woff') format('woff'),
          url('/SFUIDisplay-Black.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'SF UI Display Heavy'
  font-display swap
  src url('/SFUIDisplay-Heavy.eot')
  src local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
      url('/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/SFUIDisplay-Heavy.woff') format('woff'),
      url('/SFUIDisplay-Heavy.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'SF UI Text Medium'
  font-display swap
  src url('/SFUIText-Medium.eot')
  src local('SF UI Text Medium'), local('SFUIText-Medium'),
      url('/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
      url('/SFUIText-Medium.woff') format('woff'),
      url('/SFUIText-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal


@font-face
  font-family 'SF UI Text Regular'
  font-display swap
  src url('/SFUIText-Regular.eot')
  src local('SF UI Text Regular'), local('SFUIText-Regular'),
      url('/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
      url('/SFUIText-Regular.woff') format('woff'),
      url('/SFUIText-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
