@font-face {
    font-family PFAgoraSlabPro-Medium
    src url("/fonts/PFAgoraSlabPro-Medium.woff") format("woff")
}

@font-face {
    font-family PFAgoraSlabPro-Black
    src url("/fonts/PFAgoraSlabPro-Black.woff") format("woff")
}

@font-face {
    font-family PFAgoraSlabPro-UltraBlack
    src url("/fonts/PFAgoraSlabPro-UltraBlack.woff") format("woff")
}


@font-face {
    font-family SFProText-Heavy
    src url("/fonts/SFProText-Heavy.woff") format("woff")
}

@font-face {
    font-family SFProText-Medium
    src url("/fonts/SFProText-Medium.woff") format("woff")
}

@font-face {
    font-family SFProText-Regular
    src url("/fonts/SFProText-Regular.woff") format("woff")
}

