@import 'normalize.styl'
@import 'fonts.styl'


html
  min-height 100%
  height 100%
  //Значение 10px взять для удобства расчета rem
  font-size 10px

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  box-sizing border-box
  background-color #191D28
  min-height 100%
  height 100%
  text-size-adjust 100%

table
  border-collapse collapse

h1, h2, h3, h4, h5, h6
  margin 0

a
  text-decoration none

.wk-icon
  fill currentColor
