layout-xs() {
    @media (max-width: $breakpoint-xs) {
        {block}
    }
}

layout-sm() {
    @media (max-width: $breakpoint-sm) {
        {block}
    }
}

layout-md() {
    @media (max-width: $breakpoint-md) {
        {block}
    }
}

layout-l() {
    @media (max-width: $breakpoint-l) {
        {block}
    }
}
