$color-base = #FFF
$color-gray = #6E7383
$color-yellow = #FECC7B
$color-orange = #E7A761
$color-bg = #2B3245
$color-bg-dark = #191D28

$font-weight-bold = 700
$font-weight-regular = 400

$breakpoint-xs = 400px
$breakpoint-sm = 640px
$breakpoint-md = 1040px
$breakpoint-l = 1440px
